<div class="user-profile-overlay">
    <div class="modal-content user-profile-box">
  
      <!-- Avatar circular con ícono -->
      <div class="avatar-container">
        <img src="../../assets/profile.svg" alt="User Avatar" class="avatar-img">
      </div>
  
      <h2>Perfil de Usuario</h2>
  
      <div class="profile-info">
        <p><strong>Nombre:</strong> {{ user?.name }}</p>
        <p><strong>Correo:</strong> {{ user?.email }}</p>
      </div>
  
      <button class="close-btn" (click)="close()">Cerrar</button>
    </div>
  </div>
  