<!-- Navbar Superior -->
<header class="navbar sticky-navbar">
    <div class="logoContainer clickable" (click)="stateControlNav()">
        <img src="../../assets/Log.png" alt="Logo">
        <h2>GlowPic</h2>
    </div>
    <!-- <input type="text" placeholder="Busca tus fotos y álbumes"> -->
    <div class="nav-icons">
        <label for="fileInput" class="fileUpload">
            <img class="iconNav upload" src="../../assets/uploadImage.svg" alt="uploadImage">
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">
        </label>
        <!-- <button (click)="changeStateConfigTrue()">
            <img class="iconNav" src="../../assets/configuration.svg" alt="config">
        </button> -->
        <button (click)="Exit()">
            <img class="iconNav" src="../../assets/exit.png" alt="profile">
        </button>
    </div>
</header>