/*Imagen al lado del titulo (GlowPic)*/
.logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logoContainer img {
    width: 32px;
    height: 32px;
}


/* Navbar fija arriba */
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Navbar Superior */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px 0px 22px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    max-width: 400px;
    padding: 10px 16px 10px 16px;
}

.nav-icons {
    display: flex;
    gap: 16px;
}

.nav-icons button {
    background-color: transparent;
    border-color: transparent;
    display: flex;
}

.iconNav {
    width: 24px;
}

.upload{
    width: 30px;
}

.fileUpload {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileUpload input {
    display: none;
}