<div class="login-container">
  <div class="container">
    <div class="login-content">
      <div class="login-header">
        <a href="/" class="login-title"> GlowPic </a>
        <p class="login-subtitle">Inicia sesión en tu cuenta</p>
      </div>

      <div class="login-form">

        <form (ngSubmit)="onLogin()">
          <div class="login-form-group">
            <label for="email" class="login-form-label">Correo electrónico</label>
            <input id="email" type="email" [(ngModel)]="email" name="email" class="login-form-input"
              placeholder="tu@email.com" required>
          </div>

          <div class="login-form-group">
            <label for="password" class="login-form-label">Contraseña</label>
            <div class="password-wrapper">
              <input id="password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password"
                class="login-form-input" placeholder="Contraseña" required>
              <span class="eye-icon" (click)="togglePasswordVisibility()">👁️</span>
            </div>
          </div>

          <button type="submit" class="login-submit-btn">Iniciar sesión</button>
        </form>

        <div class="login-links">
          <p>
            ¿No tienes una cuenta?
            <a routerLink="/register" class="login-link">Regístrate</a>
          </p>
        </div>
      </div>

      <div class="login-security">
        <div class="login-security-info">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="var(--primary)" strokeWidth="2">
            <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
            <circle cx="12" cy="16" r="1" />
            <path d="M7 11V7a5 5 0 0 1 10 0v4" />
          </svg>
          <span class="login-security-text">
            Tu información está protegida con encriptación de extremo a extremo
          </span>
        </div>
      </div>
    </div>
  </div>
</div>