<div class="register-container">
  <div class="container">
    <div class="register-content">
      <div class="register-header">
        <a href="/" class="register-title"> GlowPic</a>
        <p class="register-subtitle">Crea tu cuenta nueva</p>
      </div>

      <div class="register-form">
        <form (ngSubmit)="onRegister()">
          <div class="register-form-group">
            <label for="name" class="register-form-label">Nombre de usuario</label>
            <input type="text" id="name" name="name" class="register-form-input" placeholder="Tu nombre de usuario"
              [(ngModel)]="name" required>
          </div>

          <div class="register-form-group">
            <label for="email" class="register-form-label">Correo electrónico</label>
            <input type="email" id="email" name="email" class="register-form-input" [(ngModel)]="email"
              placeholder="tu@email.com" required>
          </div>

          <div class="register-form-group">
            <label for="password" class="register-form-label">Contraseña</label>
            <div class="password-wrapper">
              <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                class="register-form-input" placeholder="Crea una contraseña segura" [(ngModel)]="password"
                required>
              <span class="eye-icon" (click)="togglePasswordVisibility()">👁️</span>
            </div>
          </div>

          <button type="submit" class="register-submit-btn">Crear cuenta</button>
        </form>

        <div class="register-links">
          <p class="login-text">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="register-link">Inicia sesión aquí</a>
          </p>
        </div>
      </div>

      <div class="register-security">
        <div class="register-security-box">
          <div class="register-security-header">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="var(--primary)" strokeWidth="2">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z" />
            </svg>
            <span class="register-security-title">Compromiso de Seguridad</span>
          </div>
          <p class="register-security-text">
            Al registrarte, tus datos estarán protegidos con los más altos estándares de seguridad. Nunca
            compartiremos tu información personal con terceros.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>